doctype html
html(lang="en")
    head
        title DAAASGUD
        link(rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    body
        nav.navbar.navbar-light.bg-faded
            a.navbar-brand(href='#')=title
            ul.nav.navbar-nav
                li.nav-item.active
                    a.nav-link(href='#')
                        | Home
                        span.sr-only (current)
        .jumbotron
            h1.display-3 DAASGUD
            p.lead is a toolkit for data anonymisation. It lets you choose what you want to anonymise and to what granularity.
        .container
            #app

        script(type="application/javascript" src="/components/jquery/dist/jquery.js")
        script(type="application/javascript" src="/components/tether/dist/js/tether.js")
        script(type="application/javascript" src="/components/bootstrap/dist/js/bootstrap.js")
        script(type="application/javascript" src="/bundle.js")