doctype html
html(lang="en")
    head
        title DAAASGUD
        link(rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="apple-touch-icon" sizes="180x180" href="/favi/apple-icon-180x180.png")
        link(rel="icon" type="image/png" sizes="192x192"  href="/favi/android-icon-192x192.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favi/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="96x96" href="/favi/favicon-96x96.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favi/favicon-16x16.png")
        link(rel="manifest" href="/favi/manifest.json")
        meta(name="msapplication-TileColor" content="#ffffff")
        meta(name="msapplication-TileImage" content="/favi/ms-icon-144x144.png")
        meta(name="theme-color" content="#ffffff")
    body
        nav.navbar.navbar-dark.bg-inverse
            a.navbar-brand(href='#')=title
            ul.nav.navbar-nav
                li.nav-item.active
                    a.nav-link(href='#')
                        | Home
                        span.sr-only (current)
        .jumbotron
            h1.display-3 DAASGUD
            p.lead is a toolkit for data anonymisation. It lets you choose what you want to anonymise and to what granularity.
        .container
            #app
        footer.footer.bg-inverse
            div.container
                p.text-muted TEXT HERE

        script(type="application/javascript" src="/components/jquery/dist/jquery.js")
        script(type="application/javascript" src="/components/tether/dist/js/tether.js")
        script(type="application/javascript" src="/components/bootstrap/dist/js/bootstrap.js")
        script(type="application/javascript" src="/bundle.js")