doctype html
html(lang="en")
    head
        title DAAASGUD
        link(type="text/css" href="/components/bootstrap/dist/css/bootstrap.min.css")
    body
        h1 Jade - node template engine
        h2=name
        h3=test()
        #container.col
            if youAreUsingJade
                p You are amazing
            else
                p Get on it!
            p.
                Jade is a terse and simple
                templating language with a
                strong focus on performance
                and powerful features.doctype html

        script(type="application/javascript" src="/components/jquery/dist/jquery.js")
        script(type="application/javascript" src="/components/tether/dist/js/tether.js")
        script(type="application/javascript" src="/components/bootstrap/dist/js/bootstrap.js")
